<h1>Componente listado</h1>


<!-- Buscador -->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Búsqueda">
  </mat-form-field>
</form>


<!-- Listado -->
<mat-accordion>
  <mat-expansion-panel *ngFor="let post of posts; let i = index">
    <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="space-between start">
      <mat-panel-title>
        {{post.id}} - <strong>{{post.title}}</strong>

      </mat-panel-title>
      <mat-panel-description fxLayout="row" fxLayoutAlign="end start">
        @Usuario{{post.userId}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>{{post.body}}</p>
    <button mat-stroked-button color="warn" (click)="openDialog()">Borrar</button>
    <button mat-stroked-button color="primary" (click)="openEditDialog()">Editar</button>
  </mat-expansion-panel>
</mat-accordion>
