<h1>Componente formulario</h1>

<div class="shadow" fxLayout="column" fxLayoutAlign="center center">
  <h2>Registro de Usuario</h2>
  <form [formGroup]="personalDataForm">
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Nombre *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="nombre" maxlength="100" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'nombre')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Apellidos *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="apellidos" maxlength="200" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'apellidos')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div cclass="field-container" fxLayout="column">
      <label class="no-label-style">Email *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="email" maxlength="50" required type="email">
        <mat-error *ngIf="personalDataForm.hasError('required', 'email')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="personalDataForm.hasError('email', 'email')">Email no válido</mat-error>
      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Contraseña *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="password" maxlength="50" minlength="8" required type="password">
        <mat-error *ngIf="personalDataForm.hasError('required', 'password')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="personalDataForm.hasError('minlength', 'password')">Este campo debe tener almenos 8 caracteres
        </mat-error>
        <mat-error *ngIf="personalDataForm.hasError('maxlength', 'password')">Este campo debe tener menos de 50
          caracteres</mat-error>


      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Confirmar contraseña *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="confirmacionPass" maxlength="50" minlength="8" required type="password">
        <mat-error *ngIf="personalDataForm.hasError('required', 'confirmacionPass')">Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="personalDataForm.hasError('minlength', 'password')">Este campo debe tener almenos 8 caracteres
        </mat-error>
        <mat-error *ngIf="personalDataForm.hasError('maxlength', 'password')">Este campo debe tener menos de 50
          caracteres</mat-error>
      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Edad *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <mat-select formControlName="edad" required [errorStateMatcher]="matcher">
          <mat-option *ngFor="let years of numbers" [value]="years">
            {{years}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personalDataForm.hasError('noValido','edad')">Debes ser mayor de 18 y menor de 65 años
        </mat-error>
        <mat-error *ngIf="personalDataForm.hasError('required', 'edad')">Este campo es obligatorio</mat-error>
        <!-- no me sale el mensaje -->

      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Sexo *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <mat-select formControlName="sexo" required [errorStateMatcher]="matcher">
          <mat-option *ngFor="let genero of generos" [value]="genero">
            {{genero}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="personalDataForm.hasError('required', 'sexo')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">DNI *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="DNI" maxlength="50" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'DNI')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="personalDataForm.hasError('pattern', 'DNI')">DNI no válido</mat-error>

      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">NIE *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="NIE" maxlength="50" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'NIE')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="personalDataForm.hasError('pattern', 'NIE')">NIE no válido</mat-error>

      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">CIF *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="CIF" maxlength="50" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'CIF')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>
    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Teléfono</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="telefono" maxlength="22" placeholder="+XX XXX XXX XXX">
        <mat-error *ngIf="personalDataForm.hasError('pattern', 'telefono')">Teléfono no válido</mat-error>
        <mat-error *ngIf="personalDataForm.hasError('required', 'telefono')">Teléfono es un campo requerido</mat-error>

      </mat-form-field>
    </div>

    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Página web *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="url" maxlength="50" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'url')">Este campo es obligatorio</mat-error>
        <mat-error *ngIf="personalDataForm.hasError('pattern', 'url')">La URL introducida <b>no es
            válida</b>. <br />Debe estar compuesta por protocolo (http:// o https://) y dominio (nombre.com)</mat-error>
      </mat-form-field>
    </div>

    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Compañia *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="company" maxlength="50" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'company')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <div class="field-container" fxLayout="column">
      <label class="no-label-style">Tarjeta de crédito *</label>
      <mat-form-field class="full-width no-label" fxFlex="80" appearance="outline">
        <input matInput formControlName="tarjeta" maxlength="50" required>
        <mat-error *ngIf="personalDataForm.hasError('required', 'tarjeta')">Este campo es obligatorio</mat-error>
      </mat-form-field>
    </div>

    <mat-checkbox required formControlName="aceptedTerms">Acepto las condiciones
    </mat-checkbox>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
      <button mat-raised-button color="primary">Confirmar</button>
    </div>
  </form>



</div>
